body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}






.admin-page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("C:/Users/2317564/Downloads/frontend/src/assets/adminhomepage.jpg");
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}